flask
werkzeug
sqlite3
apscheduler
python-dotenv
flask-mail
pycoingecko
pandas
requests
beautifulsoup4
waitress
itsdangerous
newsapi-python==0.2.7
feedparser
requests_cache
python-dateutil==2.8.2
apscheduler
flask_mail
pycoingecko


